@charset "utf-8";
.ESTILOS {
	font-size: 30px;
	font-weight: bold;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	font-size: 30px;
}
.ESTILOS {
	color: #FFF;
}
.ESTILOSSS {
	font-weight: bold;
	font-size: 47px;
	color: #000;
}
ESTILOSSSSS {
	color: #CF3;
}
.GF {
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.IK {
	color: #FFF;
}
HJ {
	font-weight: normal;
}
YT {
	color: #03C;
}
.ESTILOS aT {
	color: #36C;
}
.ESTILOS a {
	color: #FFF;
}
.ASD {
	color: #000;
	text-align: justify;
}
